---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Página no encontrada"
  description="La página que buscas no existe."
  noindex
>
  <section>
    <div class="main-container">
      <h1>404 - Página no encontrada</h1>
      <br />
      <p>La página que buscas no existe</p>
    </div>
  </section>
</Layout>

<style>
  .main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    min-height: 100vh;
    padding-bottom: 6rem;
    box-sizing: border-box;
    background-color: var(--color-surface);
    transition:
      background-color 0.3s,
      border-color 0.3s;
    color: var(--color-text);
  }

  .main-container,
  p {
    text-align: center;
  }
</style>
