---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre mi">
  <section>
    <div class="main-container">
      <h2>Josep Company</h2>
      <h3>Desarrollador de software</h3>
      <p>
        Empecé en el desarrollo de software en 2021 como desarrollador backend pero a lo
        largo de estos años he tenido que desarrollar también varios proyectos de front.
        ¿Puedo decir que soy full stack?, no lo se, lo único que se es que no se nada.
      </p>

      <section>
        <h2>Conectar</h2>
        <p>
          Si quieres contactar conmigo, puedes hacerlo a través de las redes sociales o
          envíame un correo electrónico
        </p>
      </section>
    </div>
  </section>
</Layout>

<script></script>

<style>
  .main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    height: 100%;
    background-color: var(--color-surface);
    transition:
      background-color 0.3s,
      border-color 0.3s;
    color: var(--color-text);
  }
</style>
