---
import Layout from '../layouts/Layout.astro';
---

  <Layout title="Mi trabajo">
    <section>
      <div class="main-container">
        <h2>Viewnext</h2>
        <h3>Desarrollador full stack</h3>
        <h3>Septiembre 2021 - actualidad</h3>
        <ul>
          <li>
            Desarrollo full-stack de una aplicación empresarial para registrar,
            categorizar y consultar conocimiento clave derivado de proyectos, facilitando
            la mejora continua y la toma de decisiones.
          </li>
          <li>
            Implementación de soluciones con Azure OpenAI y ChatGPT para un asistente
            virtual corporativo
          </li>
          <li>Integración con IBM Watson Assistant para chatbot empresarial</li>
          <li>
            Desarrollo tanto frontend como backend de soluciones que integran con
            asistentes virtuales
          </li>
        </ul>
      </div>
    </section>
  </Layout>

  <style>
    .main-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 640px;
      border: 1px solid red;
      height: 100%;
    }
  </style>
</Layout>
