---
import Layout from '../layouts/Layout.astro';

const jobs = [
  {
    company: 'Viewnext',
    positions: [
      {
        role: 'Desarrollador Backend (SAP BTP / Node.js)',
        period: 'Enero 2026 - actualidad',
        highlights: [
          'Desarrollo y evolución de servicios backend con SAP CAP (Node.js) sobre SAP BTP, implementando soluciones para dos empresas líderes del sector industrial.',
          'Coordinación técnica con el equipo del cliente y responsable de los despliegues en producción',
          'Configuración y mantenimiento de servicios SAP CAP en SAP BTP.',
        ],
      },
      {
        role: 'Desarrollador Full-Stack (Node.js / React / Vue.js)',
        period: 'Septiembre 2021 - Diciembre 2025',
        highlights: [
          'Desarrollo full-stack de una aplicación empresarial para registrar, categorizar y consultar conocimiento derivado de proyectos, facilitando la mejora continua y la toma de decisiones.',
          'Integración de Azure OpenAI para el desarrollo de un asistente virtual corporativo.',
          'Integración con IBM Watson Assistant para la implementación de un chatbot empresarial.',
          'Desarrollo de soluciones frontend y backend integradas con asistentes virtuales e inteligencia artificial.',
        ],
      },
    ],
  },
];
---

<Layout
  title="Mi trabajo"
  description="Explora la experiencia laboral de Josep Company Cuesta"
  image="/og-image.jpg"
>
  <section>
    <div class="main-container">
      <h1>Mi trabajo</h1>
      <br />
      {
        jobs.map((job) => (
          <article>
            <h2>{job.company}</h2>
            {job.positions.map((position) => (
              <div class="position">
                <h3 class="role">{position.role}</h3>
                <h3>{position.period}</h3>
                <ul>
                  {position.highlights.map((highlight) => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              </div>
            ))}
          </article>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    min-height: 100vh;
    padding-bottom: 6rem;
    box-sizing: border-box;
    background-color: var(--color-surface);
    transition:
      background-color 0.3s,
      border-color 0.3s;
    color: var(--color-text);
  }

  .position {
    margin-bottom: 4rem;
  }

  .role {
    color: var(--color-primary);
  }

  li {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
</style>
