---

---

<div class="container-footer">
  <div class="container-bottom-items">
    <span>2026 - Josep Company</span>

  </div>
</div>

<style>
  .container-footer {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    border: 1px solid grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(90px);
    font-family:
      Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }

  .container-bottom-items {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
